# MongoDB data
data/

# Node modules
node_modules/
/node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
.env.*

# SQLite database files
*.db
*.db-shm
*.db-wal
猊牥敶⽲敳摥猭灵扡獡⹥煳੬

data/*
data/

server/node_modules
server/node_modules/**
/node_modules/**
implementation_plan.md
server/migrate-to-supabase.js
